.chat {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(253, 201, 240, 0.45);

  .top {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 185, 140, 0.35);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.150);

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 16px;
          font-weight: bold;
          color: #fff6ed;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #fff8f1;
        }
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.20);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(175, 100, 110, 0.5);
    }

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: rgba(100, 130, 175, 0.5);
            color: white;
          }
        }
      }

      .avatar {
        font-size: 1.5rem;
        color: #6c757d;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: auto;
          max-height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 10px 15px;
          background-color: rgba(175, 100, 110, 0.5);
          border-radius: 10px;
          color: #343a40;
        }

        span {
          font-size: 13px;
          color: #6c757d;
        }
      }
    }
  }

  .bottom {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(100, 135, 175, 0.35);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.150);

    .icons {
      display: flex;
      gap: 10px;

      .icon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }
    }

    input {
      flex: 1;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #ddd;
      outline: none;
      font-size: 16px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .emojiIcon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
      }
    }

    .sendButton {
      background-color: #0099ff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #0099ff;
        cursor: not-allowed;
      }
    }
  }
}
