.chat {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 240, 255, 0.45); /* Azul pastel de fondo */

  .top {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(190, 210, 255, 0.35); /* Azul pastel suave */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 16px;
          font-weight: bold;
          color: #d3e6f7; /* Azul claro para texto */
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #f1faff; /* Azul muy suave */
        }
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(150, 180, 210, 0.5); /* Azul pastel en el thumb */
    }

    .message {
      max-width: 70%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-self: flex-start;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: rgba(
              130,
              160,
              200,
              0.5
            ); /* Azul pastel más intenso */
            color: white;
          }
        }
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 100%;

        img {
          width: 100%;
          height: auto;
          max-height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 10px 15px;
          background-color: rgba(
            150,
            180,
            210,
            0.5
          ); /* Azul pastel para los mensajes */
          border-radius: 10px;
          color: #343a40;
          word-break: break-word;
          display: inline-block;
          max-width: 100%;
        }

        span {
          font-size: 13px;
          color: #6c757d;
        }
      }
    }

    .previewMessage {
      display: flex;
      align-items: center;
      background: #e6f3ff; /* Azul muy claro para el fondo */
      padding: 8px;
      border-radius: 4px;
      margin: 8px 0;
      font-size: 14px;
      color: #333;

      .previewIcon {
        margin-right: 8px;
      }
    }

    .cancelButton {
      background-color: #b3d9ff; /* Azul pastel */
      color: #fff;
      border: 2px solid #80b3ff; /* Azul pastel más oscuro para el borde */
      padding: 6px 12px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin-top: 10px;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: #80b3ff; /* Azul pastel más oscuro en el hover */
        border-color: #b3d9ff; /* Azul pastel claro para el borde en el hover */
      }
    }
  }

  .bottom {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(130, 160, 200, 0.5); /* Azul pastel suave */
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.15);

    .icons {
      display: flex;
      gap: 10px;

      .icon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }
    }

    input {
      flex: 1;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #ddd;
      outline: none;
      font-size: 16px;
      word-wrap: break-word;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .emojiIcon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
      }
    }

    .sendButton {
      background: linear-gradient(
        135deg,
        #a2c2e6,
        #e0f1fd
      ); /* Degradado azul pastel */
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background: linear-gradient(
          135deg,
          #80a9c2,
          #a2c2e6
        ); /* Degradado más oscuro en hover */
        transform: scale(1.05); /* Efecto de aumento */
      }

      &:disabled {
        background: linear-gradient(
          135deg,
          #d0e6f0,
          #e0f7fa
        ); /* Degradado pastel claro */
        cursor: not-allowed;
        box-shadow: none;
        color: #a0a0a0;
      }
    }
  }
}
