.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); // Fondo semi-transparente
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Asegúrate de que esté sobre otros contenidos
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 30px; // Mayor padding para más espacio alrededor
  border-radius: 8px;
  width: 800px; // Tamaño fijo para el contenedor del modal
  height: 600px; // Tamaño fijo para el contenedor del modal
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; // Asegura que el contenido no se desborde
}

.close-button,
.prev-button,
.next-button {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 30px; // Aumentar el tamaño de los íconos
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button {
  top: 15px;
  right: 15px;
}

.prev-button {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-image {
  max-width: 100%;
  max-height: calc(100% - 80px); // Ajustar para dejar espacio para el contador y comentario
  object-fit: contain; // Ajusta la imagen para que se mantenga dentro del contenedor
  margin-bottom: 20px; // Mayor separación entre la imagen y el contador/comentario
}

.photo-counter {
  font-size: 18px; // Aumentar el tamaño del texto
  color: #333;
  margin: 10px 0; // Mayor separación entre el contador y el comentario
}

.photo-comment {
  font-size: 16px; // Aumentar el tamaño del texto
  color: #666;
}

.photo-date {
  font-size: 16px; // Tamaño del texto para la fecha
  color: #007bff; // Color de la fecha (puedes cambiarlo según tus preferencias)
  margin-bottom: 10px; // Espacio debajo de la fecha
}

.close-button:hover,
.prev-button:hover,
.next-button:hover {
  color: #007bff; // Cambia el color cuando el usuario pasa el cursor sobre los botones
}
