.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 640px; // Tamaño fijo para el modal
  height: 720px; // Tamaño fijo para el modal
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; // Apilar elementos verticalmente
}

.close-button,
.prev-button,
.next-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

.close-button {
  top: 10px;
  right: 10px;
}

.prev-button {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-info-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.photo-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
  height: 35%; // Mantener una altura fija
}

.photo-counter-container {
  margin-bottom: 0.5rem;
}

.photo-counter {
  font-size: 1rem;
  color: #333;
}

.photo-date-container {
  margin-bottom: 0.5rem;
}

.photo-date {
  font-size: 0.9rem;
  color: #666;
}

.photo-title-container {
  margin-top: 1rem; // Espaciado antes del título
}

.photo-title {
  font-size: 1.2rem; // Tamaño del texto del título
  font-weight: bold;
  color: #333; // Color del texto del título
  margin-bottom: 0.5rem; // Espaciado debajo del título
}

.photo-comment-container {
  margin-top: 1rem;
}

.photo-comment {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
}

.modal-image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  height: 65%; // Mantener una altura fija
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
