.mainUserInfo {
  flex: 3;
  background-color: rgba(145, 150, 220, 0.35);
  position: relative;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;

    .avatar-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .avatar-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
        transition: border 0.3s ease;

        &.editing {
          border: 4px solid rgba(255, 255, 255, 0.5);
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .avatarIcon {
          width: 100px;
          height: 100px;
        }
      }

      input {
        display: none;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 2px 0;
      color: #fff6ed;
    }

    h3 {
      font-size: 20px;
      font-weight: normal;
      margin: 10px 0;
      color: #fff6ed;
    }

    h4 {
      font-size: 14px;
      font-weight: normal;
      color: #fff6edca;
      margin: 2px 0;
    }

    .presentation-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        resize: none;
        transition: border 0.3s ease;

        &:focus {
          border: 1px solid #999;
        }
      }
    }

    p {
      color: #fff6ed;
      margin: 1rem 10rem;
      text-align: center;
    }
    .button-container {
      display: flex;
      gap: 10px; /* Espacio entre los botones */
      margin-top: 10px; /* Espacio arriba del contenedor si es necesario */
    }
    
    button {
      background: #80deea; /* Azul celeste claro */
      color: white;
      border: none;
      padding: 10px 20px; /* Tamaño uniforme */
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    
    button:hover {
      background: #4dd0e1; /* Azul más intenso para el hover */
    }
    
    button:disabled {
      background: #e0e0e0; /* Gris claro para el estado deshabilitado */
      cursor: not-allowed;
    }
    
    .cancel-btn {
      background: #f48fb1; /* Rosa claro pastel */
    }
    
    .cancel-btn:hover {
      background: #f06292; /* Rosa más intenso para el hover */
    }
    
  }

  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .logout svg {
    fill: #ff97d9;
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease; /* Añade la transición suave */
  }
  
  .logout:hover svg {
    fill: #b6f1ff;
  }

  .requests-container {
    margin-top: 20px;
    
    button {
      background-color: #ff9aa2; /* Color de fondo del botón (rosa pastel) */
      color: white; /* Color del texto del botón */
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ffb7b2; /* Color al pasar el mouse (rosa más claro) */
      }
    }

    .requests-list {
      margin-top: 10px;
      padding: 15px;
      
      .request {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }

        .request-header {
          display: flex;
          align-items: center;
          
          .request-avatar {
            width: 50px;
            height: 50px;
            margin-right: 10px;

            img, .avatarIcon {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .request-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            max-width: 200px;
          
            span {
              margin: 2px 0;
              font-family: 'Arial', sans-serif;
              color: #fff6ed;
          
              &:first-of-type {
                font-size: 1.2rem;
                font-weight: bold;
              }
          
              &:last-of-type {
                font-size: 0.9rem;
                color: #fff6edca;
              }
            }
          }          
        }

        button {
          background-color: #9aadff; /* Color del botón aceptar (azul pastel) */
          color: white;
          padding: 8px 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #b9caff; /* Color del botón al pasar el mouse (azul más claro) */
          }
        }
      }

      p {
        text-align: center;
        color: #888;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
