.userInfo {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(100, 100, 155, 0.35);
  cursor: pointer;

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    h2 {
      font-size: 1.125rem;
      color: #fff6ed;
    }
  }

  .icons {
    display: flex;
    gap: 1rem;

    .icon {
      font-size: 1.05rem;
      color: #fff6ed;
      cursor: pointer;

      &:hover {
        color: #eaccad;
      }
    }
  }
}
