**/src/lib/firebaseConfig.js
**/src/lib/chatStore.js
**/src/lib/upload.js
**/src/lib/userStore.js

**/src/components/auth/addUser.js
**/src/components/auth/login.js

**/src/styles/auth/addUser.scss
**/src/styles/auth/login.scss

**/src/index.css

.env
node_modules
