.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal-content {
  position: relative;
  width: 640px; // Tamaño fijo para el modal
  height: 750px; // Tamaño fijo para el modal (ajustado de 720px a 750px)
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; // Apilar elementos verticalmente
}

.image-modal-close,
.image-modal-prev,
.image-modal-next {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

.image-modal-close {
  top: 10px;
  right: 10px;
}

.image-modal-prev {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image-modal-next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image-modal-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #f6f6f6; // Ajustado de #f9f9f9 a #f6f6f6
  box-sizing: border-box;
  height: 32.5%; // Ajustado de 35% a 32.5%
}

.image-modal-counter-wrapper {
  margin-bottom: 0.5rem;
}

.image-modal-counter {
  font-size: 1rem;
  color: #717171; // Ajustado de #333 a #717171
}

.image-modal-date-wrapper {
  margin-bottom: 0.35rem; // Ajustado de 0.5rem a 0.35rem
}

.image-modal-date {
  font-size: 0.9rem;
  color: #666;
}

.image-modal-title-wrapper {
  margin-top: 0.75rem; // Ajustado de 1rem a 0.75rem
}

.image-modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.image-modal-comment-wrapper {
  margin-top: 0.1rem; // Ajustado de 1rem a 0.1rem
  overflow: hidden; // Añadido para evitar desbordamiento
}

.image-modal-comment {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  word-wrap: break-word; // Ajuste de palabra para evitar desbordamiento horizontal
  overflow: hidden; // Ocultar desbordamiento
  white-space: pre-wrap; // Mantener los espacios en blanco y saltos de línea
  max-height: 100px; // Limitar la altura del comentario
}

.image-modal-image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  height: 65%; // Mantener una altura fija
}

.image-modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
