.chat {
  flex: 2;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 16px; // Ajustado para ser más responsivo
          font-weight: bold;
          color: #343a40;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #6c757d;
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;

      .icon {
        font-size: 1.5rem; // Ajustado para ser más responsivo
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #2a91d6;
            color: white;
          }
        }
      }

      .avatar {
        font-size: 1.5rem;
        color: #6c757d;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: auto; // Ajustado para ser más responsivo
          max-height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 10px 15px;
          background-color: #e9ecef;
          border-radius: 10px;
          color: #343a40;
        }

        span {
          font-size: 13px;
          color: #6c757d;
        }
      }
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    gap: 20px;
    background-color: #ffffff;

    .icons {
      display: flex;
      gap: 10px;

      .icon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }
    }

    input {
      flex: 1;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #ddd;
      outline: none;
      font-size: 16px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .emojiIcon {
        font-size: 1.5rem;
        color: #6c757d;
        cursor: pointer;

        &:hover {
          color: #343a40;
        }
      }

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
      }
    }

    .sendButton {
      background-color: #0099ff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #0099ff;
        cursor: not-allowed;
      }
    }
  }
}
