.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(100, 100, 155, 0.75);
  border-top-left-radius: 12px;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      margin-left: 10px;
      color: #fff6ed;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    .icon {
      font-size: 1.05rem;
      color: #fff6ed;
      cursor: pointer;

      &:hover {
        color: #eaccad;
      }
    }
  }
}
