.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      margin-left: 10px;
    }

    img {
      width: 50px; /* Ejemplo: ajusta el tamaño según sea necesario */
      height: 50px;
      border-radius: 50%; /* Para hacer la imagen redonda */
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    .icon {
      font-size: 1.05rem;
      color: #ffffff;
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
  }
}
