.addUser {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  background-color: rgb(255, 220, 190);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;

    &:hover {
      color: #ff0000;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    input {
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #b9a0b1;
      outline: none;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.2);
      color: #333;
      transition: border 0.3s ease, background-color 0.3s ease;

      &:focus {
        border-color: #8ab4f8;
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    button {
      padding: 15px;
      border-radius: 8px;
      background-color: #8ab4f8;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #6a8ebf;
      }
    }
  }

  .omega-code-container {
    position: relative;

    .info-icon {
      margin-left: 10px;
      cursor: pointer;
      color: #8ab4f8;
      transition: color 0.3s ease;

      &:hover {
        color: #6a8ebf;
      }
    }

    .info-tooltip {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1001;
      margin-top: 10px;

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  .user {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .detail {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: rgba(242, 232, 255, 0.7);
      border-radius: 12px;
      margin-right: 20px;
      padding: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      span {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
    }

    button {
      padding: 10px 20px;
      border-radius: 8px;
      background-color: #f28c8c;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d17474;
      }
    }
  }
}
